.container, .profilecard__aboutme {
  margin: 0 auto; }

.nav__searchicon, .nav__search {
  margin: auto 0; }

.statusform__field, .status__img {
  border-radius: 1rem; }

.status__struct__btn, .nav__searchicon, .nav__search {
  border-radius: 1.5rem; }

.nav__homelink, .nav__homelink:visited, .nav__homelink:active, .nav__userdropbutton, .cardbox, .btn, .btn:link, .btn:visited {
  border-radius: 2rem; }

.profilecard__banner__avatar, .avatar, .avatar__sm, .avatar__lg {
  border-radius: 50%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #040e06;
  font-family: arial, sans-serif; }

html,
body {
  height: 100vh;
  overflow: none; }

.container {
  max-width: 146rem; }

.grid {
  display: grid; }

.grid-dash {
  grid-template-columns: 0.9fr 2fr 0.9fr;
  gap: 1.2rem; }

.cursor-pointer {
  cursor: pointer; }

.profilecard {
  text-align: center;
  font-size: 1.6rem;
  color: #d5e8d8; }
  .profilecard__banner {
    height: 10rem;
    background-size: cover;
    position: relative; }
    .profilecard__banner__avatar {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 40%);
      height: 7.6rem;
      width: 7.6rem; }
  .profilecard__fullname {
    margin-top: 4.8rem;
    font-size: 2rem;
    font-weight: 500; }
  .profilecard__username {
    margin: 1.2rem 0;
    color: #1e612b; }
  .profilecard__aboutme {
    width: 60%;
    margin-bottom: 2.4rem; }
  .profilecard__stats {
    border: 1px solid #444;
    border-left: none;
    border-right: none;
    padding: 2.4rem 0;
    display: flex;
    justify-content: space-around; }
    .profilecard__stats__followers {
      flex: 1;
      border-left: 1px solid #444; }
      .profilecard__stats__followers__number {
        font-size: 2rem; }
      .profilecard__stats__followers__text {
        margin-top: 1.2rem;
        color: #1e612b; }
    .profilecard__stats__following {
      flex: 1; }
      .profilecard__stats__following__number {
        font-size: 2rem; }
      .profilecard__stats__following__text {
        margin-top: 1.2rem;
        color: #1e612b; }
  .profilecard__profilelink {
    margin: 2.4rem 0; }
    .profilecard__profilelink, .profilecard__profilelink:active, .profilecard__profilelink:visited {
      color: #2b8a3e;
      text-decoration: none;
      display: block; }
  .profilecard__interactions {
    display: flex;
    padding: 1.2rem 2.4rem;
    justify-content: space-around; }
    .profilecard__interactions button {
      width: 45%; }
    .profilecard__interactions__follow-btn {
      background-color: #2b8a3e !important; }
      .profilecard__interactions__follow-btn:hover {
        background-color: #409651 !important; }
  .profilecard__infobox {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    text-align: start;
    padding: 2.4rem 0;
    row-gap: 1.2rem;
    column-gap: 0.8rem; }
    .profilecard__infobox ion-icon {
      justify-self: end;
      color: #2b8a3e; }

.recommendations {
  color: #d5e8d8;
  padding: 2.4rem; }
  .recommendations__userrec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.4rem 0; }
  .recommendations__userinfo {
    margin-right: 1.2rem; }
    .recommendations__userinfo a {
      display: block;
      text-decoration: none; }
    .recommendations__userinfo__name {
      font-size: 1.6rem;
      font-weight: 600; }
      .recommendations__userinfo__name:link, .recommendations__userinfo__name:visited, .recommendations__userinfo__name:active {
        color: #bfdcc5; }
    .recommendations__userinfo__username {
      font-size: 1.2rem;
      color: #1e612b; }
  .recommendations__showmore {
    color: #2b8a3e;
    text-decoration: none; }
    .recommendations__showmore:link, .recommendations__showmore:active, .recommendations__showmore:visited {
      font-size: 1.4rem; }

.statusform {
  display: grid;
  grid-template-columns: 0.25fr 2fr;
  padding: 1.2rem 2.4rem; }
  .statusform__field {
    height: 3.6rem;
    background-color: #16451f;
    resize: none;
    font-size: 1.6rem;
    display: grid;
    scrollbar-width: none;
    padding: 0.6rem;
    border: none;
    outline: none;
    box-sizing: content-box;
    color: #bfdcc5; }
    .statusform__field::-webkit-scrollbar {
      display: none; }
  .statusform__send {
    margin-top: 0.8rem;
    background-color: #2b8a3e !important;
    width: 30%;
    margin-left: auto; }

.status {
  color: #bfdcc5;
  font-size: 1.6rem; }
  .status__structinfo {
    flex: 1;
    margin-left: 2.4rem;
    margin-top: 1.2rem; }
  .status__struct {
    display: flex;
    padding: 1.2rem 2.4rem; }
    .status__struct__userdata {
      display: flex;
      align-items: center; }
    .status__struct__author {
      display: flex; }
    .status__struct__name {
      font-weight: 700;
      margin-right: 0.8rem; }
      .status__struct__name:link, .status__struct__name:visited, .status__struct__name:active {
        color: inherit;
        text-decoration: none; }
    .status__struct__verified {
      font-size: 2rem;
      color: #2b8a3e;
      transform: translateY(-0.4rem);
      margin-right: 0.8rem; }
    .status__struct__username {
      font-size: 1.2rem;
      color: #95c59f; }
    .status__struct__options {
      margin-left: auto;
      cursor: pointer;
      font-weight: 700;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      -webkit-touch-callout: none; }
    .status__struct__timestamp {
      font-size: 1.2rem;
      margin: 1.2rem 0;
      transform: translateY(-0.4rem);
      color: #95c59f; }
    .status__struct__message {
      margin-bottom: 2.4rem; }
    .status__struct__reactions {
      display: flex;
      justify-content: space-between; }
      .status__struct__reactions ion-icon {
        background-color: #f2506c;
        border-radius: 50%;
        padding: 0.3rem; }
        .status__struct__reactions ion-icon:nth-of-type(2) {
          background-color: #2ecc9b; }
      .status__struct__reactions span {
        font-size: 1.2rem; }
        .status__struct__reactions span:not(:last-of-type) {
          margin-right: 0.4rem; }
    .status__struct__comments a,
    .status__struct__comments a:link,
    .status__struct__comments a:visited {
      text-decoration: none;
      color: #80b98b; }
      .status__struct__comments a:hover,
      .status__struct__comments a:link:hover,
      .status__struct__comments a:visited:hover {
        text-decoration: underline; }
    .status__struct__number {
      display: inline; }
    .status__struct__interactions {
      display: flex; }
    .status__struct__btn {
      cursor: pointer;
      width: 33%;
      padding: 1.2rem 2.4rem;
      margin-top: 1.2rem;
      background-color: #113719;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: all 0.5s;
      display: flex;
      align-items: center;
      justify-content: center; }
      .status__struct__btn:hover {
        background-color: #1a5325; }
      .status__struct__btn:not(:first-child) {
        margin-left: 0.6rem; }
      .status__struct__btn ion-icon {
        font-size: 2.4rem; }
      .status__struct__btn span {
        font-size: 1.4rem;
        margin-left: 0.8rem; }
  .status__hashtag, .status__link {
    color: #2b8a3e;
    text-decoration: none; }
    .status__hashtag:hover, .status__link:hover {
      text-decoration: underline; }
  .status__img {
    display: flex;
    cursor: pointer;
    margin-bottom: 2.4rem; }

.liked {
  background-color: #f2506c;
  transition: all 0.5s; }
  .liked span {
    display: none; }
  .liked:hover {
    background-color: #f2506c; }

.reposted {
  background-color: #2ecc9b;
  transition: all 0.5s; }
  .reposted span {
    display: none; }
  .reposted:hover {
    background-color: #2ecc9b; }

.trends {
  color: #bfdcc5;
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem; }
  .trends__heading {
    font-size: 2rem; }
    .trends__heading__secondary {
      font-size: 1.4rem;
      margin: 2.4rem 0;
      color: #80b98b; }
  .trends__hashbox {
    margin: 1.2rem 0; }
    .trends__hashbox__link:link, .trends__hashbox__link:visited, .trends__hashbox__link:active {
      color: #bfdcc5;
      text-decoration: none;
      font-weight: 700; }
      .trends__hashbox__link:link:hover, .trends__hashbox__link:visited:hover, .trends__hashbox__link:active:hover {
        text-decoration: underline; }
    .trends__hashbox p {
      color: #80b98b; }
  .trends__morehash:link, .trends__morehash:visited, .trends__morehash:active {
    text-decoration: none;
    color: #2b8a3e; }

.chat {
  color: #d5e8d8; }
  .chat__heading {
    margin: 1.2rem 2.4rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-between; }
  .chat__newchat {
    font-size: 3rem;
    color: #55a165;
    cursor: pointer; }
  .chat__threads > div:nth-child(even) {
    background-color: #16451f; }
  .chat__threads__thread {
    display: flex;
    background-color: #113719;
    padding: 1.2rem 2.4rem; }
    .chat__threads__thread:hover {
      background-color: #1a5325 !important; }
    .chat__threads__thread__info {
      align-self: center;
      margin-left: 0.8rem; }
      .chat__threads__thread__info__name {
        font-size: 1.4rem; }
      .chat__threads__thread__info__timestamp {
        color: grey;
        font-size: 1rem; }
      .chat__threads__thread__info__message {
        font-size: 1.2rem; }

.chatbox {
  color: #d5e8d8;
  height: 88vh; }
  .chatbox__headingbox {
    display: flex;
    background-color: #0d2913;
    padding: 1.2rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem; }
    .chatbox__headingbox__name {
      align-self: center;
      font-size: 1.6rem;
      font-weight: 700;
      margin-left: 1.2rem; }
  .chatbox__messages {
    height: 80%;
    padding: 1.2rem;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column-reverse; }
    .chatbox__messages::-webkit-scrollbar {
      display: none; }
    .chatbox__messages__line {
      display: flex; }
      .chatbox__messages__line:not(:last-child) {
        margin-top: 0.4rem; }
      .chatbox__messages__line.left {
        flex-direction: row-reverse; }
        .chatbox__messages__line.left .chatbox__messages__bubble {
          background-color: #444; }
      .chatbox__messages__line__spacer {
        flex: 1; }
    .chatbox__messages__bubble {
      background-color: green;
      padding: 0.6rem 1.2rem;
      font-size: 1.6rem;
      border-radius: 2rem;
      overflow-wrap: break-word;
      max-width: calc(50% - 67px); }
  .chatbox__formbox {
    display: flex;
    width: 100%;
    background-color: transparent;
    background-color: #333;
    border-radius: 2rem;
    padding: 0.6rem;
    color: white; }
    .chatbox__formbox__field {
      background-color: transparent;
      border: none;
      width: 80%;
      font-size: 2rem;
      color: white;
      margin-left: 0.6rem; }
      .chatbox__formbox__field::placeholder {
        color: white; }
      .chatbox__formbox__field:focus {
        outline: none; }
    .chatbox__formbox__send {
      display: inline-block;
      padding: 0.4rem;
      background-color: #2b8a3e;
      transform: translateX(-0.3rem);
      border-radius: 50%;
      margin-left: auto;
      cursor: pointer; }
    .chatbox__formbox__sendicon {
      font-size: 2.8rem; }

.nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.6rem 0; }
  .nav__logo {
    font-size: 4.4rem;
    color: #2b8a3e;
    margin-right: 2.4rem; }
  .nav__searchicon {
    height: 1.6rem;
    width: 2%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #0d2913;
    padding: 1.6rem 2.4rem;
    padding-right: 0.4rem;
    font-size: 1.6rem;
    color: #2b8a3e;
    font-weight: 700;
    cursor: text;
    box-sizing: content-box; }
  .nav__search {
    outline: none;
    border: none;
    background-color: #0d2913;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 25%;
    height: 1.6rem;
    padding: 1.6rem 0.2rem;
    position: relative;
    color: #bfdcc5;
    font-family: inherit;
    transition: width 0.5s;
    box-sizing: content-box; }
    .nav__search::placeholder {
      font-size: 1.2rem;
      color: #bfdcc5; }
    .nav__search:focus, .nav__search:hover {
      width: 35%; }
  .nav__homelink, .nav__homelink:visited, .nav__homelink:active {
    padding: 1rem 2rem;
    background-color: #f5feff;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer; }
  .nav__homelink__icon {
    font-size: 1.8rem;
    color: #2b8a3e; }
  .nav__linktext {
    margin-left: 0.6rem;
    font-size: 1.2rem;
    font-weight: 700; }
  .nav__icon {
    margin: 0 1.6rem;
    font-size: 2.4rem;
    position: relative; }
    .nav__icon, .nav__icon:visited, .nav__icon:active {
      color: #d0d0d0; }
    .nav__icon:hover {
      color: #f7f7f7;
      cursor: pointer; }
  .nav__number {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transform: translate(25%, -25%);
    font-weight: 700;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .nav__verticalline {
    height: 4.8rem;
    border-left: 1px solid #444;
    color: #444; }
  .nav__userdropbutton {
    background-color: #0d2913;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    height: 1.6rem;
    padding: 1.4rem 0.2rem;
    cursor: pointer;
    box-sizing: content-box; }
    .nav__userdropbutton img {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      margin-right: 1.2rem;
      margin-left: 0.4rem; }
  .nav__username {
    color: white;
    font-size: 1.4rem;
    margin-right: 1.2rem; }
  .nav__symbol {
    font-size: 2rem;
    margin-right: 1.2rem;
    color: white; }
  .nav__leftside {
    flex: 0.6;
    display: flex;
    justify-content: start;
    margin-left: 2.4rem; }
  .nav__rightside {
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: end; }

.cardbox {
  width: 100%;
  background-color: #0d2913;
  overflow: hidden; }
  .cardbox:not(:last-child) {
    margin-bottom: 1.2rem; }

.btn, .btn:link, .btn:visited {
  background-color: #f7f7f7;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  font-weight: 600;
  color: black; }

.btn:hover {
  cursor: pointer; }

.section {
  height: 90vh;
  overflow-y: scroll;
  scrollbar-width: none; }
  .section::-webkit-scrollbar {
    display: none; }
  .section__overwrite3 {
    grid-column: span 2; }

.avatar {
  height: 5.4rem;
  width: 5.4rem; }
  .avatar__sm {
    height: 3.2rem;
    width: 3.2rem; }
  .avatar__lg {
    height: 7.6rem;
    width: 7.6rem; }

.notification, .notification:link, .notification:visited {
  text-decoration: none;
  display: flex;
  color: #d5e8d8;
  padding: 1.2rem 2.4rem;
  background-color: #1e612b; }

.notification__old {
  background-color: #0d2913 !important; }

.notification__info {
  align-self: center;
  padding: 0 1.2rem; }

.notification__title {
  font-weight: 700;
  font-size: 1.6rem; }

.notification__time {
  font-size: 1.2rem;
  color: #aad0b2; }

.notifications__heading {
  color: #2b8a3e;
  font-size: 3.2rem;
  padding: 2.4rem 0; }
  .notifications__heading__sub {
    color: #16451f;
    font-size: 2.4rem;
    padding: 1.2rem 0; }
