.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-md 0;

  &__logo {
    font-size: 4.4rem;
    color: $color-primary;
    margin-right: $space-sm;
  }

  &__searchicon {
    height: 1.6rem;
    width: 2%;
    @extend %border-radius-xmd;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $color-primary-170;
    @extend %margin-center-v;
    padding: 1.6rem 2.4rem;
    padding-right: 0.4rem;
    font-size: 1.6rem;
    color: $color-primary;
    font-weight: 700;
    cursor: text;
  }

  &__search {
    outline: none;
    border: none;
    background-color: $color-primary-170;
    @extend %border-radius-xmd;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 25%;
    height: 1.6rem;
    @extend %margin-center-v;
    padding: 1.6rem 0.2rem;
    position: relative;
    color: $color-primary-30;
    font-family: inherit;
    transition: width 0.5s;

    &::placeholder {
      font-size: 1.2rem;
      color: $color-primary-30;
    }

    &:focus,
    &:hover {
      width: 35%;
    }
  }

  &__homelink {
    &,
    &:visited,
    &:active {
      @extend %border-radius-lg;
      padding: 1rem 2rem;
      background-color: #f5feff;
      color: black;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-right: 2rem;
    }

    &__icon {
      font-size: 1.8rem;
      color: $color-primary;
    }
  }

  &__linktext {
    margin-left: 0.6rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__icon {
    margin: 0 1.6rem;
    font-size: 2.4rem;
    &,
    &:visited,
    &:active {
      color: lighten($color-grey, 55%);
    }
    position: relative;

    &:hover {
      color: lighten($color-grey, 70%);
    }
  }

  &__number {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transform: translate(25%, -25%);
    font-weight: 700;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__verticalline {
    height: 4.8rem;
    border-left: 1px solid $color-grey;
    color: $color-grey;
  }

  &__userdropbutton {
    @extend %border-radius-lg;
    background-color: $color-primary-170;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    height: 1.6rem;
    padding: 1.4rem 0.2rem;
    cursor: pointer;

    img {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      margin-right: 1.2rem;
      margin-left: 0.4rem;
    }
  }

  &__username {
    color: lighten($color-grey, 80%);
    font-size: 1.4rem;
    margin-right: 1.2rem;
  }

  &__symbol {
    font-size: 2rem;
    margin-right: 1.2rem;
    color: lighten($color-grey, 80%);
  }

  &__leftside {
    flex: 0.6;
    display: flex;
    justify-content: start;
    margin-left: $space-sm;
  }

  &__rightside {
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
