.section {
  height: 90vh;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__overwrite3 {
    grid-column: span 2;
  }
}

.section_1.home {
  @include media('<=tablet') {
    display: none;
  }
}

.section_3.home {
  @include media('<=tablet') {
    display: none;
  }
}
