* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include media('<850px') {
    font-size: 55%;
  }

  @include media('<500px') {
    font-size: 50%;
  }
}

body {
  background-color: darken($color-primary, 32%);
  font-family: $default-font-family;
}

html,
body {
  height: 100vh;
  overflow: none;
}
