%margin-center-h {
  margin: 0 auto;
}

%margin-center-v {
  margin: auto 0;
}

%border-radius-xsm {
  border-radius: 0.3rem;
}

%border-radius-sm {
  border-radius: 0.6rem;
}

%border-radius-md {
  border-radius: 1rem;
}

%border-radius-xmd {
  border-radius: 1.5rem;
}

%border-radius-lg {
  border-radius: 2rem;
}

%border-radius-circle {
  border-radius: 50%;
}
