.container {
  max-width: $container-width;
  @extend %margin-center-h;
}

.grid {
  display: grid;
}

.grid-dash {
  grid-template-columns: 0.9fr 2fr 0.9fr;
  gap: $space-xs;
}

.grid-2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid-3-cols {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4-cols {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cursor-pointer {
  cursor: pointer;
}
