// COLORS
$color-primary: green;
$color-primary-dark: darkgreen;

$color-secondary: blue;
$color-secondary-dark: darkblue;

$color-tertiary: red;
$color-tertiary-dark: darkred;

//spacing
$space-xs: 1.2rem;
$space-sm: 2.4rem;
$space-md: 3.6rem;
$space-xmd: 4.8rem;
$space-lg: 6.4rem;
$space-xl: 9.6rem;
