.chat {
  // padding: $space-xs $space-sm;
  color: $color-primary-20;

  @include media('<=tablet') {
    // display: none;
  }

  &__heading {
    // margin-bottom: $space-xs;
    margin: $space-xs $space-sm;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
  }

  &__newchat {
    // text-decoration: none;
    font-size: 3rem;
    color: $color-primary-80;
    cursor: pointer;
  }

  &__threads {
    & > div:nth-child(even) {
      background-color: $color-primary-150;
    }

    &__thread {
      display: flex;
      background-color: $color-primary-160;
      padding: $space-xs $space-sm;

      &:hover {
        background-color: $color-primary-140 !important;
      }

      &__info {
        align-self: center;
        margin-left: 0.8rem;
        &__name {
          font-size: 1.4rem;
        }

        &__timestamp {
          color: grey;
          font-size: 1rem;
        }

        &__message {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.chatbox {
  color: $color-primary-20;
  // border: 2px solid red;
  height: 88vh;

  @include media('<=tablet') {
    display: none;
  }

  &__headingbox {
    display: flex;
    background-color: $color-primary-170;
    padding: $space-xs;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;

    &__name {
      align-self: center;
      font-size: $default-font-size;
      font-weight: 700;
      margin-left: 1.2rem;
    }

    &__close {
      font-size: 3.2rem;
      margin-left: auto;
      transform: translateY(12%);
      cursor: pointer;

      @include media('>=tablet') {
        display: none;
      }
    }
  }

  &__messages {
    height: 80%;

    @include media('<=tablet') {
      height: 69%; /* ;) */
    }

    // border: 2px solid red;
    padding: 1.2rem;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column-reverse;

    &::-webkit-scrollbar {
      display: none;
    }

    &__line {
      display: flex;

      &:not(:last-child) {
        margin-top: 0.4rem;
      }

      &.left {
        flex-direction: row-reverse;

        & .chatbox__messages__bubble {
          background-color: #444;
        }
      }

      &__spacer {
        flex: 1;
      }
    }

    &__bubble {
      background-color: green;
      padding: 0.6rem 1.2rem;
      font-size: $default-font-size;
      border-radius: 2rem;
      overflow-wrap: break-word;
      max-width: calc(50% - 67px);

      @include media('<=tablet') {
        max-width: calc(50% - 10px);
      }
    }
  }

  &__formbox {
    // position: relative;
    display: flex;

    width: 100%;
    background-color: transparent;
    // border: 1px solid green;
    background-color: #333;
    border-radius: 2rem;
    padding: 0.6rem;
    color: white;

    // box-sizing: border-box;
    // margin: 0;

    &__field {
      background-color: transparent;
      border: none;
      width: 80%;
      font-size: 2rem;
      color: white;
      &::placeholder {
        color: white;
      }

      margin-left: 0.6rem;

      &:focus {
        outline: none;
      }
    }

    &__send {
      // position: absolute;
      // top: 0;
      display: inline-block;
      padding: 0.4rem;
      background-color: $color-primary;
      transform: translateX(-0.3rem);
      border-radius: 50%;
      margin-left: auto;
      cursor: pointer;
    }

    &__sendicon {
      font-size: 2.8rem;
    }
  }
}

@include media('<=tablet') {
  .section__overwrite3 {
    // position: absolute;
    // width: 100%;
    // z-index: -1;
  }
}
