.settings {
  padding: 2rem;

  color: $color-primary-30;

  &__heading {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  div {
    position: relative;
    margin-bottom: 2rem;
  }

  &__input:focus ~ &__floatinglabel,
  &__input:not(:focus):valid ~ &__floatinglabel {
    top: 30%;
    bottom: 10px;
    font-size: 1.2rem;
    opacity: 1;
    color: $color-primary;
  }

  &__input {
    padding-top: 2rem;
    padding-left: 0.4rem;
    margin-bottom: 0;
    width: 100%;
    height: 5.6rem;
    font-size: 1.6rem;
    background-color: transparent;
    border: 1px solid $color-primary-30;
    @extend %border-radius-md;
    color: inherit;
    padding-bottom: 2rem;
  }

  &__input.textarea {
    // border: 1px solid red;
    padding-top: 2rem;
  }

  &__input[type='date'] {
    width: 40%;
    padding: 0 1rem;
  }

  &__floatinglabel {
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: 1rem;
    transition: 0.2s ease all;
    pointer-events: none;
    color: #000;
    transform: translateY(-50%);
    color: inherit;
  }

  &__avatar-field {
    display: flex;

    .settings__input {
      width: 80%;
    }

    .avatar {
      margin-left: auto;
    }
  }
}
